.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: center;
}
button{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: blue;
    background-color: white;

    height: 200px;
    width: 200px;
    
    text-align: center;
    margin-right: 4px;

    border: 2px blue solid;
    border-radius: 8px;
}
button:hover{
    background-color: blue;
    color: white;
}
.pedra{
    background-image: url(https://cdn-icons-png.flaticon.com/512/2206/2206698.png);
    background-size: cover;
    height: 200px;
    width: 200px;
}
.papel{
    background-image: url(https://cdn-icons-png.flaticon.com/512/2401/2401726.png);
    background-size: cover;
    height: 200px;
    width: 200px;
}
.tesoura{
    background-image: url(https://cdn-icons-png.flaticon.com/512/4229/4229057.png);
    background-size: cover;
    height: 200px;
    width: 200px;
}