.headerup{
    width: 70%;
    height: 100%;

    display: flex;
    margin: 0 auto;

    background-color: var(--cor-primaria);
}
.headerup a{
    margin: 10px 10px 10px 10px;
    color: var(--branco);
}