nav{
    width: 70%;
    height: 100%;

    display: flex;
    margin: 0 auto;

    background-color: var(--cor_terciaria);
}
nav a {
    width: 100%;
    height: 30px;
    text-align: center;
    /*tirar os links do topo*/

    color: var(--preto);
    font-weight: bold;
}
nav a:hover{
    color: var(--branco);
    background-color: var(--cor-primaria);
}