@import "Componentes/article.css";
@import "Componentes/body.css";
@import "Componentes/nav.css";
@import "Componentes/footer.css";

@import "Classes/Container.css";
@import "Classes/HeaderUp.css";
@import "Classes/HeaderDown.css";
@import "Classes/FooterUp.css";
@import "Classes/Manchete.css";
@import "Classes/CategoriaArtigo.css";
@import "Classes/MancheteColunaTexto.css";

:root{
    --cor-primaria: #1D12B5;
    --cor-secundaria: #FFE452;
    --cor_terciaria: #5C51FF;
    --preto: #151424;
    --branco: #FFFBF7;

    --font-principal: 'Times New Roman', Times, serif;
}

a{
    text-decoration: none;
}